.locales_label{
    text-align: center;
    margin-top: 5rem;
    margin-bottom: 5rem;
    /* padding: 3rem; */
    /* border-bottom: 1px solid #f1f1f1; */
}
.locales iframe {
    flex: 1;
    /* padding: 3rem;  */
}

.locales{
    display: flex; 
    flex-direction: row;
    flex-wrap: wrap;
    justify-content: center;
    /* padding: 3rem;  */
}
.card {
    margin: 55px auto;
    margin-bottom: 65px;
    width: 550px;
    height: 660px;
    background-color: #fff;
    border-radius: 5px;
    box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5);
}

.card h2, .card p, .card ul {
    color: black;
}

.card .mapa {
    width: 100%;
    height: 50%;
    /* object-fit: cover; */
    border-radius: 5px 5px 0 0;
}

.card-info {
    padding: 20px;
}

.card div{
    /* padding: 20px; */
    background-color: #333;
    /* color: #fff; */
}

.card-info h2 {
    margin: 0;
    text-align: center;
    color: white;
}

.card-info p {
    font-weight: bold;
    color: white;
}

.card-info ul {
    list-style-type: none;
    color: white;
}

.card-info li::before {
    content: "\1F4CC";
}

.card-info a {
    color: white;
    text-decoration: none;
    transition: 0.5s;
}

.card-info a:hover {
    color: black;
}
