
@import url('https://fonts.googleapis.com/css2?family=Oswald:wght@300;400;500;600;700&display=swap');
:root{
    --padding-container:100px 0;
    --color-title: #001A49;
}

/* body{
    font-family: 'Oswald', sans-serif;
} */

.container{
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    overflow: hidden;
    padding: var(--padding-container);
}
.price{
    text-align: center;
}

.price__table{
    padding-top: 60px;
    display: flex;
    flex-wrap: wrap;    
    gap: 2em;
    justify-content: center;
    align-items: center;
}

.price__element{
    background-color: #8f8f98d0;
    text-align: center;
    border-radius: 10px;
    width: 330px;
    padding: 40px;
    --color-plan: #1f1f23;
    --color-price: #eaf0fc;
    --bg-cta: #fff;
    --color-cta: #e1fae9;
    --color-items: #f4f4f2d5;
}

.price__element--best{
    width: 370px;
    padding: 60px 40px;
    background-color: #d39247;
    --color-plan: rgba(0, 0, 0, 0.821);
    --color-price: #fff;
    --bg-cta: #9F3919;
    --color-cta: #FFF;
    --color-items: #fff;
}


.price__name{
    color: var(--color-plan);
    margin-bottom: 15px;
    font-weight: 300;
}

.price__price{
    font-size: 2.5rem;
    color: var(--color-price);
}

.price__items{
    margin-top: 35px;
    display: auto;
    gap: 1em;
    font-weight: 300;
    font-size: 1.2rem;
    margin-bottom: 50px;
    color: var(--color-items);
}

.price__cta{
    display: block;
    padding: 20px 0;
    border-radius: 10px;
    text-decoration: none;
    background-color: var(--bg-cta);
    font-weight: 600;
    color: var(--color-cta);
    box-shadow: 0 0 1px rgba(71, 68, 68, 0.829);
    color: #1a1a1a;
}

.testimony{
    background-color: #a6a9b4;
}

.testimony__container{
    display: grid;
    grid-template-columns: 50px 1fr 50px;
    gap: 1em;
    align-items: center;
}

.testimony__body{
    display: grid;
    grid-template-columns: 1fr max-content;
    justify-content: space-between;
    align-items: center;
    gap: 2em;
    grid-column: 2/3;
    grid-row: 1/2;
    opacity: 0;
    pointer-events: none;
}


.testimony__body--show{
    pointer-events: unset;
    opacity: 1;
    transition: opacity 1.5s ease-in-out;
}

.testimony__img{
    width: 250px;
    height: 250px;
    border-radius: 50%;
    object-fit: cover;
    object-position: 50% 30%;
}

.testimony__texts{
    max-width: 700px;
}

.testimony__course{
    background-color: #009688;
    border-radius: 10px;
    color: #ededed;
    display: inline-block;
    padding: 10px;
}

.testimony__arrow{
    width: 90%;
    cursor: pointer;
}