body {
    margin: 0;
    padding: 0;
    /* background-color: #1a1a1a; */
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    background: radial-gradient(#333, #1a1a1a);
}

header {
    width: 100%;
    padding: 20px 0;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
    /* height: fit-content; */
}

.box {
    position: relative; /* La posición de sus elementos hijos se establecerá en relación a este */
    width: 90%;
    margin: 0 auto;
}

.box img{
    width: 150px;
    height: 125px;
}

.box nav {
    position: absolute; /* Su posición será absoluta dentro de la página y se podrá ajustar con top,left,right,bottom */
    width: fit-content;
    top: 20%;
    right: 0;
}

nav li {
    list-style: none;
    display: inline; /* Los elementos se acomodan en línea */ 
    margin-left: 2rem;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: 0.35s;
    cursor: pointer;
}

nav a:hover {
    /* color: rgb(1, 237, 255); */
    color: #009688;
    font-size: 1.4rem;
}

/*Color de los parrafos de mision y vision*/
/* #mision {
    
    padding: 20px;
    }
#vision {
    
    padding: 20px;
} */

    /* FOOTER */
    
footer {
    position: relative;
    /* left: 0; */
    bottom: 0;
    /* width: 100%; */
    text-align: center;

    margin: 0;
    /* margin-top: 7rem; */
    /* margin-bottom: 0; */
    /* position: relative;
    bottom: 0;
    width: 100%; */
    background-color: #000000;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
    padding: 2rem;
}
.logo_footer{
    text-align: center;
    border-bottom: 1px solid #f1f1f1;
}

.contactos {
    border-bottom: 1px solid #f1f1f1;
    display: flex;
    flex-direction: row;
    
 }
.contactos ul{
    list-style: none;
    /* flex-direction: row; */
    /* display: flex; */
    flex: 1;
 }

/*  .contactos h2{
    list-style: none; 
    flex: 1;
 } */

 .contactos a{
    text-decoration: none;
    color: #f1f1f1;
 }
.contactos a:hover {
    
    color: silver;
 }

 .FAQ a{
    text-decoration: none;
    color: #f1f1f1;
 }
footer .redes-sociales {
   /*  width: fit-content; */
   margin-left: 80%;
   /* text-align: right; */
   
}

.redes-sociales a {
    
 text-decoration: none;
 font-size: 28px;
 width: 60px;
 height: 60px;
 line-height: 60px;
 text-align: center;
 background: #333;
 color: #f1f1f1;
 border-radius: 50%;
 box-shadow: 2px 2px 5px rgba(0, 0, 0, .5);
 transition: all .4s ease-in-out;

}

.redes-sociales a:hover {
    color: rgb(255, 0, 0);
    transform: scale(1.2);
}

.redes-sociales ul {
    list-style: none;
    padding: 0;
}

.redes-sociales img {
    padding: 0;
}

/*Alineacion de simbolos*/
/* .youtube-simbolo{
    float: left;
}
.instagram-simbolo{
    float: left;
}
.facebook-simbolo{
    float: left;
}
.twitter-simbolo{
    float: left;
} */

.redes-sociales{ 
    margin-bottom: 0.25rem;
    /* display: block;  */
    /* padding-left: 1rem; */
    /* border-bottom: 1px solid #f1f1f1; */
} 

footer .derechos-reservados  {
    color: white;
    padding-bottom: 0.5;
    /* margin-left: 1%; */
    /* display: block;  */
    width: 100%;
    text-align: center;
    /* background: linear-gradient(to right, #434343, #000000); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    border-bottom: 1px solid #f1f1f1;
}

/* .derechos-reservados small{

} */
