body {
    margin: 0;
    background-color: #1a1a1a;
    font-family: 'Noto Sans', sans-serif;
    color: #fff;
    background: radial-gradient(#333, #1a1a1a);
}



header {
    /* background-color: black; */
    /* background-color: antiquewhite; */
    width: 100%;
    padding: 20px 0;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
    /* height: fit-content; */

    
}

.box {
    position: relative; /* La posición de sus elementos hijos se establecerá en relación a este */
    width: 90%;
    margin: 0 auto;
}

.box img{
    width: 150px;
    height: 125px;
}

.box nav {
    position: absolute; /* Su posición será absoluta dentro de la página y se podrá ajustar con top,left,right,bottom */
    width: fit-content;
    top: 20%;
    right: 0;
}

nav li {
    list-style: none;
    display: inline; /* Los elementos se acomodan en línea */ 
    margin-left: 2rem;
}

nav a {
    font-size: 1.2rem;
    text-decoration: none;
    color: white;
    transition: 0.35s;
}

nav a:hover {
    color: silver;
    font-size: 1.4rem;
}

/*Color de los parrafos de mision y vision*/
/* #mision {
    
    padding: 20px;
    }
#vision {
    
    padding: 20px;
} */

    /* FOOTER */
    
footer {
    margin: 0;
    margin-top: 7rem;
    background-color: #161618;
    /* box-shadow: 0px 0px 5px 0px rgba(0, 0, 0, 0.5); */
    padding: 2rem;
}

footer .redes-sociales {
   /*  width: fit-content; */
   margin-left: 85%;
   /* text-align: right; */
   
}

.redes-sociales a {
    width: fit-content;
    color: white;
    text-decoration: none;
}

.redes-sociales a:hover {
    color: silver;
}

.redes-sociales ul {
    list-style: none;
    padding: 0;
}

/*Alineacion de simbolos*/
/* .youtube-simbolo{
    float: left;
}
.instagram-simbolo{
    float: left;
}
.facebook-simbolo{
    float: left;
}
.twitter-simbolo{
    float: left;
} */

.redes-sociales li {
    margin-bottom: 0.25rem;
    /* display: inline; */
    /* padding-left: 1rem; */
}

footer .derechos-reservados {
    color: white;
    padding-bottom: 0.5;
    text-align: left;
}

